body {
    background-color: rgb(245, 217, 205);
    opacity: 100%;
}

.imageOne {
    background-image: url("../images/hero.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 85%;
    height: 2000px;
    border-left: 5em solid rgb(4, 61, 65);

}  

nav {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   position: fixed;
   text-decoration-color:rgb(4, 61, 65) !important;
}

 
