body {
    background-color: rgb(245, 217, 205);
    opacity: 100%;
}

.imageOne {
    background-image: url("../images/hero.jpg");
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 85%;
    height: 650px;
    border-left: 3em solid rgb(4, 61, 65);
}  

nav {
   position: fixed;
   border-top: .75em solid rgb(4, 61, 65);
}

.textColor {
    color: rgb(4, 61, 65);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer{
    height: 60px;
    background-color: rgb(245, 217, 205);
    border-top: 2em solid rgb(4, 61, 65);
    padding-top: 2em;
}

.header{
    background-color: rgb(245, 217, 205) !important;
    height: 30px;
}

.lowercard{
    width: 80%;
}
 
.btn{
    background-color: rgb(245, 217, 205);
}

.modalContact {
    background-image: url("../images/chicken2.png");
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 85%;
    height: 650px;
}

.insideModal{
    background-color: rgb(245, 217, 205);
}

a:hover{
    cursor: pointer;
}

ul {
    list-style: none;
}

.container2 {
   margin-top: 5em;
   border: 3px solid; 
 } 
 
.card{
    border-left: 2em solid rgb(4, 61, 65);
}