body {
    background-color: rgb(245, 217, 205);
    opacity: 100%;
}

.imageOne {
    background-image: url("../images/hero.jpg");
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 85%;
    height: 650px;
    border-left: 3em solid rgb(4, 61, 65);

}  

nav {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   position: fixed;
   text-decoration-color:rgb(4, 61, 65) !important;
   border-top: .75em solid rgb(4, 61, 65);
}

.textColor {
    color: rgb(4, 61, 65);
}

.footer{
    height: 60px;
    background-color: rgb(245, 217, 205);
    border-top: 2em solid rgb(4, 61, 65);
}

.header{
    background-color: rgb(245, 217, 205);
    height: 30px;
}

.lowercard{
    width: 80%;
}
 
.btn{
    background-color: rgb(245, 217, 205);
}